:root{
    --text-color: #333333;
    --accent-color: #4caf50;
    --background-hover-color: #358c38
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #1d1d1d;
    ffont-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
}
nav{
    background-color: #d5d5d5;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width:80%;
    margin:20px auto;
    padding: 10px, 20px;
    border-radius: 10px;
}
nav h1{
    color:var(--text-color);
    font-size:24px;
}
nav div a{
    color:var(--text-color);
    text-decoration: none;
    margin-left: 15px;
    font-size: 18px;
}
nav div a:hover{
    text-decoration: underline;
}
nav div button{
    background-color: #4caf50;
    color: #ffffff;
    border: none;
    padding: 8px 16px;
    font-size: 16px;
    border
    background-color: var(--background-hover-color);
}
main{
    display:flex;
    justify-content: center;
    align-items: flex-start;
    width:80%;
    margin:20px auto;
    gap:20px;
}
.main-left{
    width:80%;
    margin:60px auto;
    color: #ffffff;
    padding:200px
}