#parent{
    border: 2px solid red;
    width:90vw;
    height:350px;
}
.child{
    border: 2px solid blue;
    height:40px;
    width:40px;
}
#parent{
    display:flex;
    /* flex-direction: column; */
    justify-content:center;
}