*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

html, body{
    height: 100%;
    width: 100%;
}
#main{
    width:50%;
    height:50%;
    background-color:red;
}

.shape{
    height:50%;
    width:50%;
    background-color:blue;
}