div{
    height:100px;
    width: 100px;
    background-color:pink;
    border: 2px solid black;
    text-align: right;
    padding: 25px;
    margin:25px; 
}


h1{
    width: 200px;
    height: 50px;
    background-color: aqua;
    border: 2px dotted black;
    text-align: center;
    border-radius: 500px;
    border-edge: 70%;
}