#navbar{
    height: 60px;
    background-color: #0f1111;

}

*{
    margin: 0;
    padding: 0;
    color: white;
    text-decoration: none;
}

button{
    background-color: #f08804;
}
#logo{
    color: #f08804;
    font-size: 25px;
}

a{
    margin-right: 200px;
}