.color-red{
    color: red;
}
.font-bold{
    font-weight: bold;
}
.font-normal{
    font-weight: 400;
}
.color-white{
    color: white;
}
.bg-pink{
    background-color: pink;
}
.bg-green{
    background-color: green;
}