button{
    background-color: blue;
    color :  white;
    font-weight: bold;
    border : none;
    
    padding: 10px;
}
body{
    background-color : black;
    color : white;
    
}
h1, button{
    border : 2px dashed pink ;
}

.my-loving-button {
  background-color: pink;
}
.my-loving-button:hover{
    scale:1.2;
}